<Configuration packages="io.github.numichi.reactive.logger.example.java">
    <Appenders>
        <Console name="ExampleLog">
            <ExamplePlugin/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncRoot level="info">
            <AppenderRef ref="ExampleLog"/>
        </AsyncRoot>
    </Loggers>
</Configuration>